[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "bundle/nerdtree-toggle"]
	path = bundle/nerdtree-toggle
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/hallison/vim-markdown.git
[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = git@github.com:vim-scripts/VimClojure.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
